
html, body, section {
	height: 100%;
}
.nav-link {
    font-family: "Gill Sans", sans-serif;
}

.text-center {
    font-family: "Gill Sans", sans-serif;
}

.bgimage {
    height:100vh;
    background: url('images/heroImage.jpeg');
    background-size:cover;
    position:relative;
}

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.about_me{
    font-family: "Gill Sans", sans-serif;
    position: relative;
    color: black;
    text-indent: 20px;
}

.skillsText.card {
    height: 280px;
    cursor: pointer;
  }

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #8e0858;
}

.skillsText:hover {
    border: 1px solid #8e0858;
}

.card-text-mt-3 {
    font-family: "Gill Sans", sans-serif;
    font-size: 0.9rem;
    text-indent: 20px;
}

.navbarScroll.navbarDark {
    background-color: black;
}

.buttons button {
    background-color: rgb(8, 8, 122); /* Green background */
    border: 1px solid rgb(65, 4, 177); /* Green border */
    color: white; /* White text */
    padding: 10px 30px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
}

.contact {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    position: relative;
    color: black;
}

.contact email {
    text-align: right;
}

.job_title{
    font-family: "Gill Sans", sans-serif;
    font-size: 1.5rem;
}

.job_firm {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.1rem;
}

.school {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.1rem;
}

.department {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.5rem;
}

.cert_title {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.5rem;
}

.cert_title p {
    font-family: "Gill Sans", sans-serif;
    font-size: 1rem;
}
